@import url('../../variables.css');

.form-wrapper {
  margin: 0 auto;
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: var(--brand-main);
}

.form-wrapper__subtitle {
  padding: 40px;
  text-align: center;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--brand-main);
  color: #fff;
}

.form {
  max-width: 600px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
}

.form__text-side {
  padding: 0 40px 20px;
  display: flex;
  flex-direction: column;
}

.form__text {
  margin-top: 18px;
  padding: 14px;
  height: 100px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #a1a1a1;
  border: none;
  outline: none;
  box-shadow: 0px 0px 4px hsl(0, 0%, 69%, .2);
}

.form__checkbox-label {
  margin-top: 10px;
}

.form__checkbox {
  margin-left: 20px;
}

.form__input-side {
  padding: 40px 40px 0;
  display: flex;
  flex-direction: column;
}

.form__input {
  padding-left: 20px;
  height: 50px;
  margin-bottom: 40px;
  border: none;
  outline: none;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
  border-bottom: 1px solid rgb(41, 41, 41);
  background-color: rgba(255, 255, 255, 0);
}

.form__label {
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #a1a1a1;
}

.form__submit {
  margin-top: 20px;
  width: 200px;
  padding: 10px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  border: none;
  align-self: flex-end;
  background-color: var(--brand-secondary);
}

.form__submit:hover {
  cursor: pointer;
  color: #fff;
  background-color: var(--brand-accent);
}