@import url('../../variables.css');

.footer {
  position: relative;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-main);
}

.footer__container {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__location {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  margin-left: 40px;
}

.footer__image {
  width: 40px;
  height: 40px;
}

.footer__info {
  position: absolute;
  bottom: 34px;
  right: 50px;
  margin: 0;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .footer__info {
    position: static;
    margin-right: 40px;
  }
  .footer__location {
    margin-left: 20px;
  }
}

@media screen and (max-width: 900px) {
  .footer__image {
    width: 24px;
    height: 24px;
  }
  .footer__location {
    font-size: 16px;
    line-height: 16px;
  }
  .footer__info {
    margin-right: 10px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    justify-content: space-between;
  }
  .footer__image {
    margin-left: 10px;
  }
  .footer__location {
    text-align: center;
    font-size: 12px;
    line-height: 12px;
  }
  .footer__info {
    text-align: center;
    width: 160px;
    margin-right: 4px;
  }
}