@import url('../../variables.css');

.excellence {
  background-color: var(--brand-main);
  background: repeating-linear-gradient(180deg, var(--brand-secondary), var(--brand-secondary) 800px, var(--brand-main) 800px, var(--brand-main) 1600px);
}

.excellence__subtitle {
  padding: 40px;
  text-align: center;
  margin: 0;
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--brand-main);
  color: #fff;
}

.excellence__cover {
  max-width: 1280px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.excellence__image {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 80px;
  height: auto;
}

.excellence__paragraph {
  margin: 40px auto;
  padding: 2em;
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  background-color: rgba(255, 255, 255);
}

@media screen and (max-width: 1440px) {
  .excellence__subtitle {
    padding: 43px;
    font-size: 44px;
    line-height: 44px;
  }
}

@media screen and (max-width: 1024px) {
  .excellence__paragraph {
    margin: 20px auto;
    padding: 1em;
    font-size: 22px;
    line-height: 30px;
  }
}

@media screen and (max-width: 500px) {
  .excellence__subtitle {
    padding: 40px 18px;
    font-size: 26px;
    line-height: 30px;
  }
  .excellence__paragraph {
    padding: 1em;
    font-size: 18px;
    line-height: 24px;
  }
}